extends layout

block content
  section
    p.
      SureFire are a no-nonsense consultancy.
    p.
      We build great software for startups, non-profit organisations and
      enterprise companies.
    p.
      For new business enquiries contact
      <a href="mailto:andrew@surefirething.co.uk">andrew@surefirething.co.uk</a>.
