extends layout

block meta
  meta(property='og:title', content='SureFire')
  meta(property='og:type', content='company')
  meta(property='og:url', content='http://www.surefirething.co.uk')
  meta(property='og:image:url', content='http://www.#{gravatar}?s=420')
  meta(property='og:image:secure_url', content='https://secure.#{gravatar}?s=420')
  meta(property='og:image:type', content='image/png')
  meta(property='og:image:width', content='420')
  meta(property='og:image:height', content='420')
  meta(property='og:site_name', content='SureFire')
  meta(property='og:description', content=description)
  meta(property='og:locality', content='London')
  meta(property='og:country-name', content='UK')
  meta(property='og:email', content='info@surefirething.co.uk')
  meta(property='og:phone_number', content='+447971232140')
  meta(property='fb:app_id', content='546135282068613')
  meta(property='fb:admins', content='517274661')

block content
  section
    p.
      SureFire are a no-nonsense consultancy.
    p.
      We build great software for startups, non-profit organisations and
      enterprise companies.
    p.
      For new business enquiries contact
      <a href="mailto:andrew@surefirething.co.uk">andrew@surefirething.co.uk</a>.
