doctype 5
html
  head
    meta(charset='utf-8')
    title SureFire
    link(href=css('surefire'), rel='stylesheet', type='text/css')
  body
    header
      h1 SureFire
    block content
    footer
      p
        small © #{ new Date().getFullYear() } SureFire. All Rights Reserved.
